* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
/* ul{
    font-size: 2em;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 10px auto;
    justify-content: space-between;
    
}
li{
    flex-basis: calc(500px / 4 - 10px);
   
    border: 1px dashed #999;
    text-align: center;
    height: calc(500px / 4 - 10px);
    line-height: calc(500px / 4 - 10px);
} */
.wrap{
    background-color: darkgrey;
    padding: 10px;
    margin: 15px 0;
}
